body {
  background-color: bisque;
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  background-image: url("currency-exchange.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

button {
  display: flex;
  position:absolute;
  left: 400px;
  top: 180px;
  margin-top: 15px;
  font-size: 25pt;
  align-items: center;
}
img {
  width: 200px;
  height: 300px;
  position: absolute;
  /* image-rendering: crisp-edges; */
}
select {
  width: 200px;
  height: px;
  font-size: medium;
   display: flex;
  position:absolute;
  left: 400px;
  margin-top: 15px;
  font-size: 15pt;
  align-items: center;
}

input {
  width: 75px;
  margin-top: 25px;
  
}
h1 {
font-size: 35pt;
color: whitesmoke;
text-align: center;
}
